.container {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image_wrapper {
    height: 150px;
    width: 150px;
  }

  .app_name {
    color: var(--text-black);
    font-size: 1.5rem;
    font-weight: 600;
    @media screen and (min-width: 760px) {
      font-size: 2rem;
    }
  }

  .buttons_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80vw;
    margin-top: 3rem;

    @media screen and (min-width: 760px) {
      width: 30vw;
    }

    .or_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      .or_line {
        border: 2px solid var(--text-dark-gray);
        width: 100%;
        border-radius: 1rem;
      }
      .or_text {
        font-weight: 500;
        color: var(--text-dark-gray);
      }
    }
  }
}
