.main_container {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 2rem 2rem;

  @media screen and (min-width: 760px) {
    padding: 2rem 4rem;
  }

  .arrow_icon {
    font-size: 3rem;
    color: var(--primary-blue-color);

    @media screen and (min-width: 760px) {
      font-size: 4rem;
    }
  }

  .center_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .logo_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .image_wrapper {
        height: 100px;
        width: 100px;
      }

      .app_name {
        color: var(--text-black);
        font-size: 1rem;
        font-weight: 600;
        @media screen and (min-width: 760px) {
          font-size: 1.5rem;
        }
      }
    }

    .inputs_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      @media screen and (min-width: 760px) {
        padding: 0 9rem;
        gap: 2rem;
      }
      .input_mui {
        width: 60vw;
        @media screen and (min-width: 760px) {
          width: 100%;
        }
      }

      .link_register {
        text-align: center;
        a {
          color: var(--primary-blue-color);
          &:hover {
            filter: brightness(120%);
          }
        }
      }
    }
  }
}
