.room_page {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  .main_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    align-items: center;
    width: 25vw;
    margin: auto;

    .button_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;

      .button_icon {
        font-size: 2rem;
      }
    }
  }
}
