.custom_button {
  color: var(--text-white-color);
  cursor: pointer;
  border: 3px solid;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 0.6rem 0;
  border-radius: 0.6rem;
  font-weight: 500;
  width: 100%;
  letter-spacing: 0.1rem;
  font-weight: medium;

  &.blue {
    background-color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
    &:hover {
      color: var(--primary-blue-color);
    }
  }

  &.red {
    background-color: var(--primary-red-color);
    border-color: var(--primary-red-color);
    &:hover {
      color: var(--primary-red-color);
    }
  }

  &.green {
    background-color: var(--primary-green-color);
    border-color: var(--primary-green-color);
    &:hover {
      color: var(--primary-green-color);
    }
  }

  &.rounded {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.3rem;
    height: 100%;
    width: auto;
  }

  &:hover {
    background-color: var(--background-white-color);
    box-shadow: none;
  }
}
